TEMP/
.env
rouh_st.py
__pycache__/
graph.png
notebook.json
sub_tasks.json
database.py
node_modules
composio.lock
Faltu/
Agentic/extracted_repo/
*.pdf
Agentic/media/
.env
cron2_midnight.py
Agentic/tools/chroma_db/